p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body {
  text-align: justify;
}

#content figcaption {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 9px;
  text-shadow: none;
  color: DarkGray;
  text-align: justify;
  height: auto;
  word-wrap: break-word;
  width:500px;
}